# Исключаем временные файлы и каталоги
__pycache__/
*.pyc
*.pyo
*.log

# Исключаем виртуальное окружение
.venv/
.env/

# Исключаем конфигурации редакторов кода
.vscode/
.idea/
*.swp

# Исключаем журналы и кеши
logs/
*.db-journal

# Исключаем базу данных SQLite (если не нужно копировать её в контейнер)
*.db

# Исключаем файлы и папки, которые не нужны в контейнере
test.db
test_test.db
tests/